/* .paralax { 
    
    background-image: url("../../../pictures/vista_default_login_background_by_yethzart.jpg");
    background-size: cover;    
    height: 500px; 
  

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */