/* .fruitsAndVegetables{
    background-image: url("../../../../pictures/humparalex 1.jpeg");
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
} */
/* .span{
    margin-left: 5%;
    padding: 10px;
} */
.allProducts{
    max-width: 250px;
    min-width: 100px;
    width: 120%;
    text-align: center;
}
.image{
    max-width: 100%;
    min-width: 100%;
    height: 200px;
}
.mycard{
    color: black;
    max-width: 400px;
    min-width: 100px;
    width: 120%;
    
}
.proName{
    font-size: 15px;
}
.frutAndVegiPic{
    width: 98%;
    height: 70%;
    margin-left: 5px;
}
.row{
    justify-content: space-evenly;
}